{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-template' %}
 <div class="powr-social-media-icons" id="e84ebd8c_1602817930"></div>